.header {
  background-color: rgba(0,0,0,0.8);
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .logo {
    color: #fff;
    h1 {
      margin: 0;
      font-weight: 100;
      font-size: 14px;
    }
  }
  .contact {
    display: flex;
    align-items: center;
    @media screen and (max-width: 490px) {
      display: none;
    }
    .item {
      &:first-of-type {
        padding-right: 16px;
      }
    }
    a {
      color: #fff;
      font-size: 14px;
      svg {
       margin-right: 6px;
      }
    }
  }
}