.product {
  padding: 10px;
  flex: 1 1 200px;
  position: relative;
  flex-grow: 1;
  @media screen and (max-width: 459px) {
    padding: 10px 0;
  }
  .productCard {
    position: relative;
    border-radius: 4px;
    box-shadow: #d5d5d5 1px 14px 36px;
    width: 100%;
    height: 100%;
    padding-bottom: 60px;
    border-radius: 2px;
    overflow: hidden;
    .productImage {
      width: 100%;
      position: relative;
      height: 0;
      padding-top: 43%;
    }
    .productInfo {
      padding: 12px;
      h2 {
        font-size: 16px;
        color: rgba(0, 0, 0, 0.8);
      }
      p {
        color: rgba(0, 0, 0, 0.8);
        font-weight: normal;
        font-size: 12px;
        &.productPrice {
          span {
            font-weight: bold;
            font-size: 13px;
          }
        }
      }
      .moreButton {
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.8);
        border-radius: 4px;
        font-size: 14px;
        font-weight: bold;
        color: #fff;
        box-shadow: #d5d5d5 1px 14px 36px;
        cursor: pointer;
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }
  }
}